# PostgreSQL Connection
DATABASE_URL=postgresql+asyncpg://postgres:yourpassword@localhost:5432/lendos
SYNC_DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/lendos

# JWT Secret Key
SECRET_KEY=
OPENAI_API_KEY=
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=
